@font-face {
  font-family: 'CircularStd';
  src: url('CircularStd-Bold.woff') format('woff'),
       url('CircularStd-Book.woff') format('woff');
}

nav, h1, header.discourse {
  background-color: #E8F2F7 !important;
}

.wy-side-nav-search {
    background-color: #F59031 !important;
  border-bottom: solid 5px #FFFFFF;
}

.toctree-l2 {
  background-color: #579DD8;
}

.toctree-l2 a {
  color: white !important;
}

body {
  font-family: Arial, sans-serif !important;
}

h1, h2, h3, h4, h5, h6, header.discourse {
  font-family: 'CircularStd', Arial, sans-serif;
  font-weight: bold;
}

h1, header.discourse {
  padding: 2%;
}

h2, header.discourse a {
  text-decoration: underline;
}

h4 {
  text-transform: uppercase;
  font-size: 100% !important;
}

h3 code.literal span {
  color: black !important;
  font-weight: bold !important;
}

h3 code.literal {
  border: none;
  font-size: 90% !important;
}

@media screen and (min-width: 767px) {

  .wy-table-responsive table td, .wy-table-responsive table th {
    white-space: normal !important;
  }

  .wy-table-responsive {
    overflow: visible !important;
  }

}
